body {
    font-family:cursive;
    text-align:center;
    margin: 0;
    background-color: rgb(255, 249, 234);
    color:white;
}
#trumpet {
    height:auto;
    width: 300px;
}
#title {
    border-bottom: 4px solid black;
    width: 100vw;
    font-weight:bold;
    font-size:40px;
    padding: 5px;
    background-color: rgb(179, 148, 72);
}
#subtitle {
    border: 4px solid black;
    width: 200px;
    font-family:cursive;
    font-weight:bold;
    border-top: 0px;
    background-color: rgb(179, 148, 72);
    transform: translateY(-4px);
    font-size:25px;
    margin:auto;
}
.buttons {
    border: 2px solid black;
    font-size:20px;
    padding-bottom:4px;
    font-family:cursive;
    color:white;
    background-color:rgb(179, 148, 72);
    transition: transform ease 200ms;
}
.buttons:hover {
    transform:scale(1.15);
}
.buttons:active {
    background-color:rgb(151, 125, 60);
}
.divider {
    height:20px;
}
#keytext {
    border: 2px solid black;
    font-size:20px;
    padding:1px;
    padding-left:4px;
    padding-bottom:4px;
    border-right:0px;
    font-family:cursive;
    width:200px;
    display:inline;
    background-color:rgb(179, 148, 72);
}
#key {
    border: 2px solid black;
    border-left:0px;
    padding:1px;
    padding-bottom:4px;
    color:white;
    font-size:20px;
    font-family:cursive;
    appearance: none;
    background-color:rgb(179, 148, 72);
}
#key:focus {
    border-bottom:0px;
    box-shadow:none;
    outline:none;
    background-color:rgb(151, 125, 60);
    
}
#key:hover {
    background-color:rgb(151, 125, 60);
    box-shadow: none;
    outline: none;
    appearance: none;
}
.keystuff {
    padding-left:10px;
    display:inline-block;
    transition: transform ease 200ms;
}
.keystuff:hover {
    transform: scale(1.15);
}
#tuningstuff {
    display:inline-block;
    padding-right:10px;
}
#controlstuff {
    display:inline-block;
    padding-left:5px;
    padding-right:5px;
}
.linediv {
    border:2px dashed black;
    width:70vw;
}
.interface {
    border:2px solid black;
    background-color: rgb(179, 148, 72);
    margin:auto;
}
#controltitle {
    width:400px;
    font-size:30px;
}
.lefttext {
    padding-left:10px;
}
.righttext {
    padding-right:10px;
}
.controls {
    display:flex;
    font-size:20px;
    margin-bottom:4px;
    margin-top:4px;
    justify-content: space-between;
    margin:auto;
    width:400px;
}
.minidiv {
    height:4px;
}